@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import url('https://fonts.googleapis.com/css?family=Dhurjati');

* {
    font-family: 'Catamaran', sans-serif;
    color: beige;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* CURVE */
#curve {
    position: absolute;
    bottom: 0;
    width: 100%;
}

    #curve path {
        fill: url(#gradient);
    }

    .main-stop {
        stop-color: rgba(199,174,238,1);
    }
    .alt-stop {
        stop-color: rgba(152,235,195,1);
    }
/* CURVE END */

/* FIRST SECTION (HEADER + INPUT) */
#firstSection {
    position: relative;
    width: 100%;
    height: 120vh;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
    /* HEADER + NAV */
    .header {
        padding: 1%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .header h1::after {
        content: url(../img/sparkles1.png);
    }
    .header h1 {
        font-family: 'Dhurjati', sans-serif;
        text-transform: uppercase;
        color: beige;
        font-size: 4.2em;
        line-height: 0.7em;
    }
    .header p {
        text-transform: uppercase;
        color: beige;
        font-size: 1.6em;
        line-height: 6em;
    }
    .nav {
        padding: 1% 2%;
        width: 15%;
        display: flex;
        justify-content: space-between;
        line-height: 6em;
    }
    .nav i {
        color: beige;
        font-size: 1.5em;
    }
    .nav i:hover {
        color: #FAAB49;
    }

    /* INPUT + BUTTON + VIDEO OF THE DAY */
    .start {
        margin-top: 1.2%;
        text-align: center;
        width: 45%;
        height: 50vh;
        border-radius: 0.12em;
        background: #FAAB49;
        color: beige;
        text-transform: uppercase;
        font-size: 1.2em;
        line-height: 80px;
    }
    .start p {
        font-size: 1.7em;
    }
    #nameInput {
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em solid beige;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.12em;
        font-weight: 300;
        color: black;
    }
    .button-one, .selected {
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em solid beige;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.12em;
        font-weight: 300;
        color: beige;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.2s;
        cursor: pointer !important;
    }
    .button-one:hover {
        color: #000000;
        background-color: beige;
    }
    @media all and (max-width: 30em) {
        .button-one {
            display: block;
            margin: 0.4em auto;
        }
        #nameInput {
            display: block;
            margin: 0.4em auto;
            cursor: text !important;
        }
    }
    .bouncy {
        animation: bouncy 4s infinite linear;
        position: relative;
    }
    @keyframes bouncy {
        0% { top: 0em }
        40% { top: 0em }
        43% { top: -0.9em }
        46% { top: 0em }
        48% { top: -0.4em }
        50% { top: 0em }
        100% { top: 0em; }
    }
    .button-big {
        position: relative;
        z-index: 10;
        width: 45%;
        height: 40vh;
        margin: 2% 5%;
        border: 0.4em solid beige;
        font-size: 2em;
        line-height: 30vh;
    }
    .video-of-the-day {
        display: none;
    }

/* END FIRST SECTION (HEADER + INPUT) */

/* SECOND SECTION (QUESTIONS) */
#secondSection {
    background: linear-gradient(90deg, rgba(199,174,238,1) 0%, rgba(152,235,195,1) 100%);
}
    .main-container {
        text-align: center;
    }
    #nameTag {
        font-family: 'Dhurjati', sans-serif;
        position: relative;
        z-index: 6;
        text-transform: uppercase;
        font-size: 4em;
    }
    .button-two {
        border: 0.4em solid #FAAB49;
        background-color: #FAAB49;
    }
    .button-two:hover, .selected {
        color: #000000;
        background-color: #FD5B78;
        border: 0.4em solid #FD5B78;
        color: beige;
    }
    .img-gif {
        width: 40vh;
        cursor: pointer;
    }
    .img-gif:hover {
        opacity: 0.5;
    }
    .img-selected {
        opacity: 0.5;
        background-color: transparent;
        border: none;
    }
    #buttonNext {
        display: none;
    }